# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/

# Django
db.sqlite3
media/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS Files
.DS_Store
Thumbs.db